.center{
    text-align: center;
}
body{
    font-size: 30px;
    /* line-height: 400px; */
    /* background: #EDFA8B; */
    background-color: #EDFA8B;
    font-family: cursive;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    margin-left: auto;
}
nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    margin: 0 25px;
}
nav ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul a:hover{
    color: orange;
}
nav ul li:hover{
    color: green;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 150px;
    display: block;
    border-radius: 15px;
}
#banner {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}
#banner img {
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 10px;
}
.banner-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

